#printAll{
    color: white;
    background-color: #49a9ee ;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    min-width: 5rem;

}
#printDiv{
    display: flex;
    justify-content: flex-end;
    padding-right:2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}