.personalInfo{
    border: 0.1rem solid #d4d4d9;
    border-radius: 0.2rem;
    outline: none;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    width:28%;
    color:#a0a0a0;
    height:1.0rem;
}
.line{
    padding-top:2rem;
    /*position: relative;*/
   text-align: center;
}
#CurrentP{

}
.btn{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:10rem;
}