#word3{
    font-size: 0.9rem;
    position: relative;
    margin-left: 2.0rem;

}
.word4{
    font-size: 0.9rem;
}
.word{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
.delete{
    width:1.5rem;
    height:1.5rem;
    position: relative;
    top: 0.4rem;
}
.size{
    color: black;
}


